schematic/*.s#*
schematic/*.b#*
schematic/*.pro
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
platformio.ini
lib/
/calkabot*/.gitignore
driver.pro
simulation/venv/
simulation/.idea/
simulation/.idea/
simulation/calkabot.code-workspace
calkabot*/.vscode
calkabot.code-workspace
calka.code-workspace
.vscode/
*/.metadata/
*/Drivers
*/RemoteSystemsTempFiles/
