calkabot*/schematic/*.s#*
calkabot*/schematic/*.b#*
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
platformio.ini
lib/
/calkabot*/.gitignore
driver.pro
calkabot*/.vscode
simulation/calkabot.code-workspace
calkabot.code-workspace